.unselectable {
  user-select: none;
}
.draggable {
  display: inline-block;
  padding: 1em;
  position: relative;
  top: calc(var(--y, 0) * 1px);
  left: calc(var(--x, 0) * 1px);
  transform: translate(calc(var(--dx) * 1px), calc(var(--dy) * 1px));
  background: var(--bg-color);
  border-radius: 5px;
  border: 1px dashed var(--primary);
}
