/* || Theme variables */
:root {
  --primary: white;
  --bg-color: #282c34;
}
/* || General Styles */
body {
  text-align: center;
  background-color: var(--bg-color);
  min-height: 100vh;
  color: var(--primary);
}
button {
  font-weight: bold;
  padding: 1em;
  margin: 1em;
}

hr {
  width: 100%;
}
